@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body, h1, h2, h3, div, p, button, input, label {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	margin: 0;
	padding: 0;
}

a {	
	font-family: 'Spoqa Han Sans Neo';
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border-radius: 5px;
	border: 1px solid #767676;
	color: #767676;
}

.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 520px;
	height: 712px;
	border-radius: 10px;
	border: 1px solid #C4C4C4;
	background: #FFF;
}

h1 {
	text-align: center;
	margin: 20px 0; 
	font-weight: 500;
	font-size: 16px;
}

h2 {
	margin: 26px 0 24px 24px;
	line-height: 24px;
	font-weight: 500;
	font-size: 20px;
}

.underline {
	width: 100%;
	height: 1px;
	flex-shrink: 0;
	background-color: #C4C4C4;
}

.href-group {
	display: flex;
}

.href-group span {
	margin: 0 12px;
}

.divider {
  position: relative;
  margin-bottom: 15px;
	text-align: center;
}

.divider::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: #C2C7D0;
  position: absolute;
  top: 9px;
  left: 0;
}

.divider span {
  padding: 0 10px;
  background-color: #FFF;
  z-index: 2;
  position: relative;
}

.login-form {
	color: #767676;
	width: 520px;
	display: flex;
	flex-direction: column;
}


.login-form input {
	margin: 0 24px;
}

.login-btn {
	width: 472px;
	height: 50px;
	display: flex;
	align-items: center;
	background: #FFF;
	margin: 5px 24px;
}

.login-btn img {
	width: 28px;
	height: 28px;
	margin-left: 12px;
}

.login-btn span {
	margin: auto;
}

.fb-btn {
	border: 1px solid #2D9CDB;
}

.n-btn {
	border: 1px solid #00BF18;
}

.kt-btn {
	border: 1px solid #F2C94C;
}

